/* VARIABLES */
@-webkit-keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@-webkit-keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.navbar {
  width: 100%;
  height: 80px;
  font-size: 18px;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar__container {
  margin: 15px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  opacity: 0;
  width: 70px;
  height: 70px;
}

.navbar__logo.is-visible {
  -webkit-animation: pop .3s linear .3s forwards;
          animation: pop .3s linear .3s forwards;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 50px;
  opacity: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.5s 0.5s ease-out;
  transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.navbar ul.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar ul a {
  text-align: center;
  padding: 0 30px;
  text-decoration: none;
  color: #FFF;
}

.navbar ul a:hover {
  color: #FD7400;
}

.navbar__toggler {
  display: none;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.hero {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #1f4856), color-stop(22%, rgba(31, 72, 86, 0.541)), color-stop(23%, rgba(31, 72, 86, 0.453)), color-stop(24%, rgba(31, 72, 86, 0.372)), color-stop(25%, rgba(31, 72, 86, 0.299)), color-stop(26%, rgba(31, 72, 86, 0.24)), color-stop(27%, rgba(31, 72, 86, 0.19)), color-stop(28%, rgba(31, 72, 86, 0.13)), color-stop(29%, rgba(31, 72, 86, 0.072)), color-stop(30%, rgba(31, 72, 86, 0.032)), color-stop(31%, rgba(31, 72, 86, 0.002)), color-stop(32%, rgba(31, 72, 86, 0)));
  background: linear-gradient(90deg, #1f4856 21%, rgba(31, 72, 86, 0.541) 22%, rgba(31, 72, 86, 0.453) 23%, rgba(31, 72, 86, 0.372) 24%, rgba(31, 72, 86, 0.299) 25%, rgba(31, 72, 86, 0.24) 26%, rgba(31, 72, 86, 0.19) 27%, rgba(31, 72, 86, 0.13) 28%, rgba(31, 72, 86, 0.072) 29%, rgba(31, 72, 86, 0.032) 30%, rgba(31, 72, 86, 0.002) 31%, rgba(31, 72, 86, 0) 32%);
}

.hero__bg {
  background: url(/img/hero-bg.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: -300px;
  right: -300px;
  -webkit-transition: all 3s .4s ease-in-out;
  transition: all 3s .4s ease-in-out;
  z-index: -1;
}

.hero__bg.is-visible {
  bottom: 0;
  right: 0;
}

.hero__container {
  height: 50%;
  position: relative;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero__container h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 200px;
  display: inline-block;
  line-height: .7;
  position: relative;
  left: -3.5%;
}

.hero__container h1.slide-left {
  opacity: 0;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.hero__container h1.slide-right {
  opacity: 0;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.hero__container h1.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero__container p.fade-in {
  opacity: 0;
  -webkit-transition: opacity 2s .8s ease-out;
  transition: opacity 2s .8s ease-out;
  width: 360px;
}

.hero__container p.fade-in.is-visible {
  opacity: 1;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action__hr {
  width: 3px;
  background-color: #FD7400;
  height: 50px;
  border: none;
  opacity: 0;
  -webkit-transition: opacity .2s 1.8s linear;
  transition: opacity .2s 1.8s linear;
}

.action__hr.is-visible {
  opacity: 1;
}

.action__para-container {
  min-height: 50px;
  width: 0;
  background-color: #FFF;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__para-container.is-visible {
  -webkit-animation: show-and-widen .4s linear 1.5s forwards;
          animation: show-and-widen .4s linear 1.5s forwards;
}

.action__para {
  padding-left: 20px;
  color: #000;
  visibility: hidden;
}

.action__para.is-visible {
  -webkit-animation: show-and-widen .4s linear 2s forwards;
          animation: show-and-widen .4s linear 2s forwards;
}

.action__btn.bounce-in {
  width: 50px;
  height: 50px;
  background-color: #FD7400;
  color: #FFF;
  opacity: 0;
  -webkit-transition: opacity .2s .9s ease-out, color 1s ease-in-out;
  transition: opacity .2s .9s ease-out, color 1s ease-in-out;
}

.action__btn.bounce-in:hover {
  background-color: #FFF;
  color: #FD7400;
}

.action__btn.bounce-in i {
  font-size: 25px;
  margin: 25% 0 0 40%;
}

.action__btn.bounce-in.is-visible {
  -webkit-animation: pop .5s linear 1s forwards, sliding-left 1s ease-out 1.4s forwards;
          animation: pop .5s linear 1s forwards, sliding-left 1s ease-out 1.4s forwards;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.gallery {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1F4857;
  position: relative;
}

.jumbotrons {
  width: 90%;
  margin: 0 auto;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 10vh;
}

.jumbotrons__div {
  color: #FFF;
  width: 25%;
}

.jumbotrons .gallery-number {
  font-size: 12vh;
  color: rgba(255, 255, 255, 0.1);
}

.jumbotrons hr {
  margin: 7% 0;
}

.slides-container {
  position: relative;
  bottom: 55%;
  width: 100vw;
  height: 50%;
}

.slides-container img {
  width: 280px;
  height: 280px;
}

.slide {
  top: 12%;
  position: absolute;
  -webkit-transition: left .5s, -webkit-transform .5s;
  transition: left .5s, -webkit-transform .5s;
  transition: transform .5s, left .5s;
  transition: transform .5s, left .5s, -webkit-transform .5s;
}

.slide__hr {
  opacity: 0;
}

.center {
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.3);
          transform: translateX(-50%) scale(1.3);
}

.center hr {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 1;
  background-color: #FD7400;
  height: 5px;
  border: none;
  margin-top: -5px;
}

.left {
  left: 23.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.left-left {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.left-left-left {
  left: -40%;
}

.backdoor {
  left: -60%;
  display: none;
}

.right {
  left: 76.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.right-right {
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.right-right-right {
  left: 120%;
}

.slider-btns button {
  position: absolute;
  top: 40%;
}

.slider-btns button#next {
  right: 15px;
}

.slider-btns button#prev {
  left: 15px;
}

.slider-btns button {
  border: 2px solid #FFF;
  background: transparent;
  color: #FFF;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.slider-btns button:hover {
  background-color: #FFF;
  color: #1F4857;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.choices {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  background-color: #0B1622;
}

.choices__info {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 20px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.choices__info h2 {
  text-align: end;
  color: #FFF;
  font-size: 35px;
}

.choices__info p {
  font-size: 18px;
  line-height: 1.5;
  width: 50%;
  text-align: justify;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.choices__btn {
  background-color: #FD7400;
  border: none;
  color: #FFF;
  outline: none;
  width: 15%;
  min-width: 150px;
  height: 25%;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: background-color, color .2s ease-in-out;
  transition: background-color, color .2s ease-in-out;
}

.choices__btn:hover {
  background-color: #FFF;
  color: #FD7400;
}

/* CHOICE CARDS */
.choice-container {
  width: 60%;
  height: 60%;
  background-color: #43849C;
  position: relative;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice-container__left {
  background-color: #43849C;
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 2;
}

.choice-container__hr {
  width: 4px;
  background-color: #FD7400;
  border: none;
  height: 90%;
  position: absolute;
  top: 5%;
  left: -2px;
  z-index: 2;
}

.choice-container__right {
  position: relative;
  height: 100%;
  width: 50%;
}

.choice-container__text {
  width: 100%;
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  position: relative;
  top: 17%;
  text-align: end;
  padding-right: 5%;
}

/* DIFFICULTY LEVELS */
.levels {
  position: absolute;
  width: 60%;
  height: 90%;
  top: 5%;
}

.levels-container {
  position: absolute;
  width: 40vw;
  height: 98%;
  top: 1%;
  -webkit-transform: translateX(-40vw);
          transform: translateX(-40vw);
  opacity: 0;
  -webkit-transition: opacity .1s .5s ease-out, -webkit-transform 2s;
  transition: opacity .1s .5s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity .1s .5s ease-out;
  transition: transform 2s, opacity .1s .5s ease-out, -webkit-transform 2s;
  z-index: 1;
}

.levels-container.slider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.levels-card {
  height: 100%;
  position: relative;
  z-index: 2;
}

.levels-card__text {
  height: 75%;
  padding-left: 5%;
  position: relative;
  top: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.levels-card img {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
}

.levels__bg {
  background-color: #1F4857;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.levels__btns {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

.levels__btns button {
  width: 14px;
  height: 14px;
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.levels__btns--green:hover {
  background-color: green;
}

.levels__btns--yellow:hover {
  background-color: yellow;
}

.levels__btns--red:hover {
  background-color: red;
}

.levels-flag {
  width: 70px;
  height: 70px;
  background-color: #43849C;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -70px;
  -webkit-transform: translateX(-40vw);
          transform: translateX(-40vw);
  opacity: 0;
  -webkit-transition: opacity .1s .5s ease-out, -webkit-transform 2s .2s;
  transition: opacity .1s .5s ease-out, -webkit-transform 2s .2s;
  transition: transform 2s .2s, opacity .1s .5s ease-out;
  transition: transform 2s .2s, opacity .1s .5s ease-out, -webkit-transform 2s .2s;
}

.levels-flag.slider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.levels-flag__hr {
  border: none;
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 100%;
}

.levels-flag__hr--1 {
  background-color: green;
}

.levels-flag__hr--2 {
  background-color: yellow;
}

.levels-flag__hr--3 {
  background-color: red;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1F4857;
}

.map-container {
  position: absolute;
  height: 75%;
  width: 70%;
  top: 12.5%;
  right: 0;
}

.map-start {
  cursor: pointer;
  height: 75%;
  width: 70%;
  background-color: #FD7400;
  border: none;
  outline: none;
  color: #FD7400;
  font-size: 25px;
  position: absolute;
  bottom: 12.5%;
  left: 30%;
  z-index: 3;
  -webkit-transition: all 1.5s, color .2s 1.3s;
  transition: all 1.5s, color .2s 1.3s;
}

.map-start.is-visible {
  width: 70px;
  height: 70px;
  bottom: calc(12.5% - 35px);
  left: calc(30% - 35px);
  color: #FFF;
}

.infowindow {
  width: 25%;
  height: 50%;
  background-color: #1F4857;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.infowindow__heading {
  font-size: 40px;
}

.infowindow__link {
  font-size: 16px;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.infowindow__link:hover {
  color: #FD7400;
}

.infowindow__image {
  width: 100%;
  height: auto;
  border: solid 2px #FD7400;
}

.infowindow__distance-span {
  color: #FD7400;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.footer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #43849C;
}

.footer__container--top {
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10vh;
}

.footer__container--top h2 {
  font-size: 40px;
  width: 30%;
  position: relative;
  top: 5vh;
}

.footer__brands {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__brands-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__brands img {
  width: 140px;
}

.footer__container--bottom {
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__counters {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  white-space: nowrap;
}

.footer__counters h2 {
  font-size: 34px;
  display: inline-block;
}

.footer__counters h5 {
  color: #FFF;
  font-size: 25px;
  padding-left: 20px;
  display: inline-block;
}

.footer__counters h5 span {
  color: #FD7400;
  font-size: 34px;
}

.footer__counters--counter {
  width: 100%;
  position: relative;
  color: #FD7400;
}

.footer__counters--counter h3 {
  font-size: 34px;
}

.footer__counters--counter h3:first-child {
  display: inline-block;
}

.footer__counters--counter p {
  font-size: 18px;
  color: #FFF;
  position: absolute;
  left: 80px;
  bottom: 10%;
}

.footer__contact {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__contact h2 {
  font-size: 34px;
}

.footer__media {
  width: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__media a {
  font-size: 30px;
  color: #FFF;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.footer__media a:hover {
  color: #FD7400;
}

.footer__nav {
  width: 35%;
  min-width: 320px;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.footer__nav ul li a {
  text-decoration: none;
  color: #FD7400;
  font-size: 18px;
}

.footer__hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  bottom: 40px;
  left: 5%;
  z-index: 2;
}

.footer__container--bottom-bg {
  width: 100vw;
  height: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #43849C;
}

.footer__container--bottom-bg:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url(../img/mountains-blue.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.copyrights {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #1F4857;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  z-index: 5;
}

.back-to-top-btn i {
  font-size: 24px;
  margin: 20% 0 0 33%;
}

.back-to-top-btn:hover, .back-to-top-btn:focus {
  background-color: #FFF;
  color: #1F4857;
}

.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
  width: 100px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 5vh;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #FFF;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

@media (max-width: 1499px) {
  .map-container {
    zoom: .95;
  }
}

@media (max-width: 1399px) {
  .map-container {
    zoom: .85;
  }
}

@media (max-width: 1281px) {
  .slides-container img {
    width: 220px;
    height: 220px;
  }
  .jumbotrons .gallery-number {
    font-size: 10vh;
  }
  .footer__container--top h2 {
    font-size: 30px;
  }
  .footer__brands img {
    width: 120px;
  }
  .footer__counters p, .footer__nav ul li a {
    font-size: 16px;
  }
  .footer__counters h2, .footer__contact h2 {
    font-size: 30px;
  }
}

@media (max-width: 1199px) {
  .choices__info h2 {
    top: 130px;
    font-size: 28px;
  }
  .choices__info hr {
    top: 110px;
  }
  .levels-card img {
    width: 120px;
    height: 120px;
  }
  .map-container {
    zoom: 0.78;
  }
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden;
    overflow-y: initial;
  }
  .short-hr {
    height: 1px;
  }
  .top-heading {
    font-size: 14px;
  }
  .top-heading hr {
    height: 1px;
  }
  .side-heading {
    display: none;
  }
  .hero__container h1 {
    font-size: 150px;
  }
  .hero__container p {
    font-size: 15px;
  }
  .jumbotrons hr {
    margin: 10% 0;
  }
  .slides-container {
    bottom: 45%;
  }
  .choices__info {
    height: 25%;
  }
  .choices__info p {
    max-height: 100%;
    width: 60%;
    font-size: 16px;
  }
  .choices__info h2 {
    font-size: 22px;
  }
  .choices__btn {
    font-size: 16px;
  }
  .choice-container {
    width: 80%;
  }
  .levels-card img {
    width: 110px;
    height: 110px;
    top: 17%;
    right: 20px;
  }
  .navbar {
    padding: 0;
    height: 120px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #1f4856), color-stop(82%, rgba(31, 72, 86, 0.541)), color-stop(84%, rgba(31, 72, 86, 0.453)), color-stop(86%, rgba(31, 72, 86, 0.372)), color-stop(88%, rgba(31, 72, 86, 0.299)), color-stop(90%, rgba(31, 72, 86, 0.24)), color-stop(92%, rgba(31, 72, 86, 0.19)), color-stop(94%, rgba(31, 72, 86, 0.13)), color-stop(96%, rgba(31, 72, 86, 0.072)), color-stop(98%, rgba(31, 72, 86, 0.032)), color-stop(99%, rgba(31, 72, 86, 0.002)), to(rgba(31, 72, 86, 0)));
    background: linear-gradient(180deg, #1f4856 65%, rgba(31, 72, 86, 0.541) 82%, rgba(31, 72, 86, 0.453) 84%, rgba(31, 72, 86, 0.372) 86%, rgba(31, 72, 86, 0.299) 88%, rgba(31, 72, 86, 0.24) 90%, rgba(31, 72, 86, 0.19) 92%, rgba(31, 72, 86, 0.13) 94%, rgba(31, 72, 86, 0.072) 96%, rgba(31, 72, 86, 0.032) 98%, rgba(31, 72, 86, 0.002) 99%, rgba(31, 72, 86, 0) 100%);
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: #1f4857;
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    height: 60px;
    text-align: center;
  }
  .navbar ul li a {
    display: block;
    height: 100%;
    padding: 20px;
  }
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  .navbar__toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #FFF;
    border: 3px solid #FFF;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .navbar .navbar__toggler span,
  .navbar .navbar__toggler span::before,
  .navbar .navbar__toggler span::after {
    display: block;
    content: '';
    background-color: #FFF;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar__toggler span::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .navbar .navbar__toggler span::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .navbar .navbar__toggler.navbar__toggler--open span {
    background-color: transparent;
    -webkit-transform: scale(0.85) rotate(270deg);
            transform: scale(0.85) rotate(270deg);
  }
  .navbar .navbar__toggler.navbar__toggler--open span::before {
    -webkit-transform: translateY(0px) scale(0.75) rotate(45deg);
            transform: translateY(0px) scale(0.75) rotate(45deg);
  }
  .navbar .navbar__toggler.navbar__toggler--open span::after {
    -webkit-transform: translateY(-3px) scale(0.75) rotate(-45deg);
            transform: translateY(-3px) scale(0.75) rotate(-45deg);
  }
  .back-to-top-btn {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
  .back-to-top-btn i {
    font-size: 22px;
    margin: 15% 0 0 30%;
  }
  .map-container {
    height: 60%;
    width: 100%;
    top: 10%;
    zoom: .8;
  }
  .map-start {
    height: 60%;
    width: 100%;
    font-size: 25px;
    bottom: 27.5%;
    left: 0;
  }
  .map-start.is-visible {
    width: 60px;
    height: 60px;
    bottom: calc(27.5% - 30px);
    left: -30px;
  }
  .infowindow {
    top: 72.5%;
    height: 25%;
    width: 50%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    left: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .infowindow hr {
    display: none;
  }
  .infowindow__heading {
    font-size: 30px;
  }
  .infowindow__image {
    position: absolute;
    bottom: 0;
    right: 102%;
    width: 220px;
    max-width: 100%;
    height: 100%;
  }
  .infowindow__link {
    right: 25%;
  }
  .footer__container--top h2 {
    font-size: 26px;
  }
  .footer__brands img {
    width: 100px;
  }
  .footer__counters h2, .footer__contact h2 {
    font-size: 26px;
  }
  .footer__counters h3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .jumbotrons h4 {
    font-size: 15px;
  }
  .jumbotrons p {
    font-size: 14px;
  }
  .slides-container img {
    width: 200px;
    height: 200px;
  }
  .left {
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .right {
    left: calc(100% - 100px);
  }
  .choices__info p {
    font-size: 14px;
  }
  .levels-container {
    width: 45vw;
  }
  .levels-card img {
    width: 100px;
    height: 100px;
  }
  .levels-flag {
    width: 30px;
    height: 60px;
    right: -30px;
  }
  .back-to-top-btn {
    font-size: 10px;
    width: 32px;
    height: 32px;
    bottom: 10px;
    right: 10px;
  }
  .back-to-top-btn i {
    font-size: 18px;
    margin: 20% 0 0 30%;
  }
  .map-container {
    zoom: .7;
  }
  .infowindow__heading {
    font-size: 30px;
  }
  .infowindow__sights {
    font-size: 16px;
  }
  .footer__container--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__container--top h2 {
    top: 0;
    width: 100%;
    text-align: center;
  }
  .footer__brands {
    width: 100%;
    justify-items: center;
  }
  .footer__brands img {
    width: 90px;
  }
  .footer__container--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__counters {
    height: 60%;
  }
  .footer__contact {
    height: 30px;
  }
  .footer__contact hr, .footer__contact h2, .footer__contact .footer__nav {
    display: none;
  }
  .copyrights p {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .navbar__logo {
    width: 60px;
    height: 60px;
  }
  .hero__container {
    height: 40%;
  }
  .hero__container h1 {
    font-size: 120px;
  }
  .hero__container p {
    font-size: 13px;
    max-width: 75vw;
  }
  .action {
    max-width: 75vw;
  }
  .slider-btns button {
    top: 50%;
  }
  .slider-btns button#next {
    right: 10px;
  }
  .slider-btns button#prev {
    left: 10px;
  }
  .slider-btns button {
    padding: 8px 10px;
  }
  .slides-container img {
    width: 190px;
    height: 190px;
  }
  .jumbotrons {
    width: 95%;
  }
  .jumbotrons .gallery-number {
    font-size: 8vh;
  }
  .jumbotrons h4 {
    font-size: 15px;
  }
  .jumbotrons p {
    font-size: 12px;
  }
  .slide {
    display: none;
  }
  .left {
    display: block;
    left: 0;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    opacity: .5;
  }
  .right {
    display: block;
    left: 105%;
    opacity: .5;
  }
  .center {
    display: block;
  }
  .choice-container {
    width: 90%;
  }
  .choices__info {
    bottom: 15px;
  }
  .choices__info p {
    display: none;
  }
  .choices__btn {
    position: absolute;
    bottom: 20%;
    left: 0;
    height: 35%;
    width: 40%;
  }
  .levels-card img {
    width: 70px;
    height: 70px;
  }
  .levels-flag {
    display: none;
  }
  .choice-container {
    top: 12vh;
  }
  .choice-container h2 {
    font-size: 20px;
  }
  .map-container {
    zoom: .45;
  }
  .map-start.is-visible {
    width: 50px;
    height: 50px;
    bottom: calc(27.5% - 25px);
    left: -25px;
  }
  .infowindow__heading {
    font-size: 25px;
  }
  .infowindow__sights {
    font-size: 14px;
  }
  .infowindow__link {
    right: 0;
  }
  .infowindow__image {
    height: 90%;
    margin-bottom: 5%;
  }
  .footer__brands img {
    width: 70px;
  }
  .copyrights span {
    display: none;
  }
}

@media (max-width: 991px) and (max-height: 575px) and (orientation: landscape) {
  .landscape {
    height: 180vh;
  }
  .hero__bg {
    height: 180vh;
  }
  .jumbotrons {
    top: 15vh;
  }
  .jumbotrons .gallery-number {
    font-size: 15vh;
  }
  .slides-container {
    bottom: 50%;
  }
  .footer__container--top h2 {
    top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */