@charset "UTF-8";
/* VARIABLES */
/* pomarancz: #fd7400 rgb(253, 116, 0)
fiolet: #a583ce
zieleń tło: #abce83
zieleń header: #60845c
niebieski bieguni: #17c1bc; rgb(23, 193, 188)*/
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #fff;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #fd7400;
}

.side-heading {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -2%;
  top: 12%;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #fd7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #fd7400;
}

.top-heading-hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

/* NAV SECTION */
.navbar {
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-size: 18px;
  z-index: 99;
  position: absolute;
  top: 15px;
  left: 5%;
  /* border-bottom: 1px solid rgba(255,255,255,.2); */
}

.navbar-brand {
  opacity: 0;
}

.navbar-brand.is-visible {
  -webkit-animation: pop .3s linear .3s forwards;
          animation: pop .3s linear .3s forwards;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a img {
  width: 70px;
  height: 70px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 50px;
  opacity: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.5s 0.5s ease-out;
  transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.navbar ul.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar ul a {
  text-align: center;
  padding: 0 30px;
}

.navbar ul a:hover {
  color: #FD7400;
}

.navbar .navbar-toggler {
  display: none;
}

/* HERO SECTION */
@-webkit-keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@-webkit-keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

#hero {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #1f4856), color-stop(22%, rgba(31, 72, 86, 0.541)), color-stop(23%, rgba(31, 72, 86, 0.453)), color-stop(24%, rgba(31, 72, 86, 0.372)), color-stop(25%, rgba(31, 72, 86, 0.299)), color-stop(26%, rgba(31, 72, 86, 0.24)), color-stop(27%, rgba(31, 72, 86, 0.19)), color-stop(28%, rgba(31, 72, 86, 0.13)), color-stop(29%, rgba(31, 72, 86, 0.072)), color-stop(30%, rgba(31, 72, 86, 0.032)), color-stop(31%, rgba(31, 72, 86, 0.002)), color-stop(32%, rgba(31, 72, 86, 0)));
  background: linear-gradient(90deg, #1f4856 21%, rgba(31, 72, 86, 0.541) 22%, rgba(31, 72, 86, 0.453) 23%, rgba(31, 72, 86, 0.372) 24%, rgba(31, 72, 86, 0.299) 25%, rgba(31, 72, 86, 0.24) 26%, rgba(31, 72, 86, 0.19) 27%, rgba(31, 72, 86, 0.13) 28%, rgba(31, 72, 86, 0.072) 29%, rgba(31, 72, 86, 0.032) 30%, rgba(31, 72, 86, 0.002) 31%, rgba(31, 72, 86, 0) 32%);
}

#hero-bg {
  background: url(/img/hero-big-orange-blue.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: -300px;
  right: -300px;
  -webkit-transition: all 3s .4s ease-in-out;
  transition: all 3s .4s ease-in-out;
  z-index: -1;
}

#hero-bg.is-visible {
  bottom: 0;
  right: 0;
}

#hero-container {
  position: absolute;
  left: 5%;
  top: 22%;
  color: #fff;
}

#hero-container h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 200px;
  margin-bottom: -30px;
  display: inline-block;
}

#hero-container h1.slide-left {
  opacity: 0;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

#hero-container h1.slide-right {
  opacity: 0;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

#hero-container h1.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#hero-container p.fade-in {
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 2s .8s ease-out;
  transition: opacity 2s .8s ease-out;
  width: 360px;
}

#hero-container p.fade-in.is-visible {
  opacity: 1;
}

#hero-container .action-div {
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0 0 10px;
}

#hero-container .action-hr {
  width: 3px;
  background-color: #fd7400;
  height: 50px;
  border: none;
  opacity: 0;
  -webkit-transition: opacity .2s 1.8s linear;
  transition: opacity .2s 1.8s linear;
}

#hero-container .action-hr.is-visible {
  opacity: 1;
}

#hero-container p.action-info {
  padding-left: 20px;
  color: #000;
  visibility: hidden;
}

#hero-container p.action-info.is-visible {
  -webkit-animation: show-and-widen .4s linear 2s forwards;
          animation: show-and-widen .4s linear 2s forwards;
}

#hero-container a.bounce-in {
  width: 50px;
  height: 50px;
  background-color: #fd7400;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .5s .9s ease-out, color 1s ease-in-out;
  transition: opacity .5s .9s ease-out, color 1s ease-in-out;
}

#hero-container a.bounce-in:hover {
  background-color: #fff;
  color: #fd7400;
}

#hero-container a.bounce-in i {
  font-size: 25px;
  margin: 25% 0 0 40%;
}

#hero-container a.bounce-in.is-visible {
  -webkit-animation: pop .5s linear 1s forwards, sliding-left 1s ease-out 1.4s forwards;
          animation: pop .5s linear 1s forwards, sliding-left 1s ease-out 1.4s forwards;
}

#hero-container .action-p-div {
  min-height: 50px;
  width: 0;
  background-color: #fff;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero-container .action-p-div.is-visible {
  -webkit-animation: show-and-widen .4s linear 1.5s forwards;
          animation: show-and-widen .4s linear 1.5s forwards;
}

/* GALLERY SECTION */
#gallery {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1F4857;
  position: relative;
}

#gallery-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.gallery-info-div {
  color: #fff;
  width: 25%;
  min-height: 30vh;
}

.gallery-info-div h4 {
  text-transform: uppercase;
}

.gallery-info-div hr {
  margin: 20px 0;
}

.gallery-number {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

/* GALLERY IMAGES */
#gallery-container {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 380px;
  top: 45%;
}

#gallery-container img {
  width: 280px;
  height: 280px;
}

.slide {
  top: 12%;
  position: absolute;
  -webkit-transition: left .5s, -webkit-transform .5s;
  transition: left .5s, -webkit-transform .5s;
  transition: transform .5s, left .5s;
  transition: transform .5s, left .5s, -webkit-transform .5s;
}

.center {
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.3);
          transform: translateX(-50%) scale(1.3);
}

.left {
  left: 14%;
  z-index: 5;
}

.left-left {
  left: -10%;
  z-index: 3;
}

.left-left-left {
  left: -40%;
}

.backdoor {
  left: -60%;
  display: none;
}

.right {
  left: 67%;
  z-index: 5;
}

.right-right {
  left: 90%;
  z-index: 3;
}

.right-right-right {
  left: 120%;
}

.slideHr {
  opacity: 0;
}

.center hr {
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  opacity: 1;
  background-color: #fd7400;
  height: 5px;
  border: none;
  margin-top: -4px;
}

/* CHOICE SECTION */
#choice {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  /* border: #fff 2px solid; */
  background-color: #0b1622;
}

/* GLOBAL */
.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

/* HEADING & INFO */
#choice-info {
  /* margin-top: 20px; */
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; */
  width: 100%;
  height: 55%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* border: 2px solid red; */
  z-index: 0;
}

#choice-info hr {
  position: absolute;
  top: 50px;
  right: 0;
}

#choice-info h2 {
  /* padding: 20px 0 20px 0; */
  text-align: end;
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 80px;
  right: 0;
}

#choice-info p {
  font-size: 17px;
  padding-top: 20px;
  line-height: 1.5;
  width: 60%;
  text-align: justify;
  position: absolute;
  top: 230px;
  right: 210px;
}

#choice-info button {
  background-color: transparent;
  border: 1px solid #fd7400;
  color: #fff;
  outline: none;
  padding: 20px;
  width: 180px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  position: absolute;
  top: 245px;
  right: 0;
}

/* CHOICE CARDS */
#choice-container {
  width: 60%;
  height: 60%;
  background-color: #0e7ea7;
  /* margin-top: 5%; */
  /* margin-left: 5%; */
  position: relative;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#choice-middle-hr {
  width: 4px;
  /* transform: rotate(90deg); */
  background-color: #fd7400;
  border: none;
  height: 90%;
  position: absolute;
  top: 5%;
  left: -2px;
  z-index: 2;
}

#choice-container-part1 {
  background-color: #0e7ea7;
  height: 100%;
  width: 50%;
  position: relative;
  /* border: solid 1px wheat; */
  z-index: 2;
}

#choice-container-part2 {
  position: relative;
  width: 50%;
  /* border: solid 1px yellow; */
}

#choice-container-info {
  width: 100%;
  /* position: absolute; */
  height: 90%;
  margin-top: 23px;
  text-align: end;
  padding: 50px 30px 0 0;
  /* border: 2px solid red; */
}

#choice-container-info h3 {
  padding-top: 50px;
}

/* CHOICES */
.choice-div {
  position: absolute;
  width: 600px;
  height: 99%;
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
  opacity: 0;
  -webkit-transition: opacity .1s .5s ease-out, -webkit-transform 2s;
  transition: opacity .1s .5s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity .1s .5s ease-out;
  transition: transform 2s, opacity .1s .5s ease-out, -webkit-transform 2s;
  z-index: 1;
}

.bg {
  background-color: #224e5e;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.choice-div.slider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.choice-flag {
  width: 70px;
  height: 70px;
  background-color: #0e7ea7;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -70px;
  -webkit-transform: translateX(-670px);
          transform: translateX(-670px);
  opacity: 0;
  -webkit-transition: opacity .1s .5s ease-out, -webkit-transform 2s .2s;
  transition: opacity .1s .5s ease-out, -webkit-transform 2s .2s;
  transition: transform 2s .2s, opacity .1s .5s ease-out;
  transition: transform 2s .2s, opacity .1s .5s ease-out, -webkit-transform 2s .2s;
}

.choice-flag.slider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#choices-container {
  position: relative;
  width: 670px;
  height: 90%;
  margin-top: 23px;
}

.choice-flag-hr {
  border: none;
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 100%;
}

#choice-1-flag-hr {
  background-color: green;
}

#choice-2-flag-hr {
  background-color: yellow;
}

#choice-3-flag-hr {
  background-color: red;
}

.choice-btns {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

.choice-btns button {
  width: 11px;
  height: 11px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.green-btn:hover {
  background-color: green;
}

.yellow-btn:hover {
  background-color: yellow;
}

.red-btn:hover {
  background-color: red;
}

.choice-card {
  height: 100%;
  padding-left: 30px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice-card img {
  width: 200px;
  height: 200px;
  margin-left: 100px;
}

.choice-card-info {
  height: 100%;
  padding-top: 50px;
}

#choice-container h2 {
  /* margin-top: 20%; */
  font-size: 30px;
}

.choice-card-info h3 {
  padding-top: 50px;
}

/* MAP SECTION */
#map {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1F4857;
}

#map-container {
  position: absolute;
  height: 75%;
  width: 70%;
  top: 12.5%;
  right: 0;
  /* top: 5%;
    left: 4.2%;
    height: 90%;
    width: 90%; */
  /* margin: 0 auto; */
  /* border: 2px solid #FD7400; */
  /* border-radius: 5px; */
}

#start {
  cursor: pointer;
  height: 75%;
  width: 70%;
  background-color: #fd7400;
  border: none;
  outline: none;
  color: #fd7400;
  font-size: 25px;
  position: absolute;
  bottom: 12.5%;
  left: 30%;
  z-index: 3;
  -webkit-transition: all 1.5s, color .2s 1.3s;
  transition: all 1.5s, color .2s 1.3s;
}

#start.is-visible {
  width: 70px;
  height: 70px;
  bottom: calc(12.5% - 35px);
  left: calc(30% - 35px);
  color: #fff;
}

/* Infowindow */
#iw-container {
  width: 25%;
  height: 30%;
  background-color: #1F4857;
  position: relative;
  top: 30%;
  left: 0;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.iw-place {
  font-size: 40px;
  margin: 30px 0 10px 0;
}

.iw-info {
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.iw-heading {
  position: relative;
}

/* IW bottom borderline */
.iw-img {
  width: 100%;
  height: 100%;
  margin: 10px 0;
  border: solid 2px #fd7400;
}

.iw-link {
  color: #fd7400;
  text-decoration: none;
}

.iw-distance-span {
  color: #fd7400;
}

/* FOOTER */
#footer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #2D677C;
}

#footer-hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: #fff;
  /* margin: 0 auto; */
  position: absolute;
  bottom: 8%;
  left: 5%;
  z-index: 2;
}

/* #194656 to kolor tła - gór - do sprawdzenia */
#copyrights {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8%;
  width: 100%;
  background-color: #194656;
  text-align: center;
  padding-top: 15px;
}

#footer-top-container {
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  /* border: #fd7400 solid 1px; */
}

/* #footer-top-container h2{
    font-size: 40px;
    text-align: end;
} */
#footer-top-heading {
  /* border: 1px solid #fd7400; */
  font-size: 25px;
  margin-left: 20%;
  width: 50%;
  position: relative;
  /* text-align: left; */
  /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

#footer-top-heading h2 {
  font-size: 40px;
  text-align: end;
}

#footer-counter {
  width: 100%;
  height: 100px;
  /* background: #000; */
  color: #194656;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
}

#footer-counter h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  /* margin-left: 10px; */
}

#footer-counter h2 span {
  /* font-size: 60px; */
  color: #194656;
}

.counter-container {
  /* border: #fff 1px solid; */
  width: 25%;
  display: inline-block;
}

#number-one {
  display: inline-block;
}

.counter-container p {
  font-size: 16px;
  color: #fff;
}

.numbers {
  font-size: 35px;
}

#counter-text {
  margin-left: -5px;
}

#footer-brands {
  width: 40%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  z-index: 2;
}

#footer-brands img {
  width: 110px;
}

#footer-bottom-container {
  width: 100vw;
  height: 250px;
  position: absolute;
  bottom: 8%;
  left: 0;
  background-color: #2D677C;
  z-index: 1;
  /* border: #fd7400 1px solid; */
  /* display: flex;
    justify-content: space-evenly; */
  /* align-items: center; */
}

#footer-bottom-container:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  background: url(../img/mountains-blue.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#footer-bottom-heading hr {
  position: absolute;
  left: 0;
  top: -20px;
  /* margin: 5% 0 0 10%; */
  /* z-index: 1; */
}

#footer-bottom-heading {
  position: absolute;
  top: 100px;
  left: 10%;
  /* text-transform: uppercase; */
  font-size: 25px;
}

#footer-media {
  position: absolute;
  right: 10%;
  top: 110px;
}

#footer-media a {
  font-size: 30px;
  color: #fff;
  padding-left: 50px;
}

#footer-nav {
  position: absolute;
  right: 10%;
  top: 165px;
}

#footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

#footer-nav ul li a {
  text-decoration: none;
  color: #fd7400;
  padding-left: 50px;
  font-size: 18px;
}

/* BACK TO TOP BUTTON */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #1F4857;
  border: 3px solid #1F4857;
  border-radius: 50%;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  z-index: 5;
}

#back-to-top-btn i {
  font-size: 25px;
  margin: 20% 0 0 32%;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #1f4857;
  color: #fff;
}

.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

/* zoomIn */
/* @keyframes btnEntrance { 
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
      opacity: 1;
    }    
  } */
/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

/* zoomOut */
/* @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  } */
/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

/* MEDIA QUERIES */
@media (max-width: 1199px) {
  /* 3 choice divs */
  .choice {
    width: 25%;
  }
  #booking-section {
    height: 100%;
  }
}

@media (max-width: 991px) {
  /* Menu */
  .navbar {
    padding: 0;
    height: 120px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #1f4856), color-stop(82%, rgba(31, 72, 86, 0.541)), color-stop(84%, rgba(31, 72, 86, 0.453)), color-stop(86%, rgba(31, 72, 86, 0.372)), color-stop(88%, rgba(31, 72, 86, 0.299)), color-stop(90%, rgba(31, 72, 86, 0.24)), color-stop(92%, rgba(31, 72, 86, 0.19)), color-stop(94%, rgba(31, 72, 86, 0.13)), color-stop(96%, rgba(31, 72, 86, 0.072)), color-stop(98%, rgba(31, 72, 86, 0.032)), color-stop(99%, rgba(31, 72, 86, 0.002)), to(rgba(31, 72, 86, 0)));
    background: linear-gradient(180deg, #1f4856 65%, rgba(31, 72, 86, 0.541) 82%, rgba(31, 72, 86, 0.453) 84%, rgba(31, 72, 86, 0.372) 86%, rgba(31, 72, 86, 0.299) 88%, rgba(31, 72, 86, 0.24) 90%, rgba(31, 72, 86, 0.19) 92%, rgba(31, 72, 86, 0.13) 94%, rgba(31, 72, 86, 0.072) 96%, rgba(31, 72, 86, 0.032) 98%, rgba(31, 72, 86, 0.002) 99%, rgba(31, 72, 86, 0) 100%);
  }
  .navbar-brand {
    position: absolute;
    padding: 0;
    top: 10px;
    left: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: #1f4857;
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    height: 60px;
    text-align: center;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    display: block;
    height: 100%;
    padding: 20px;
  }
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    -webkit-transform: scale(0.85) rotate(270deg);
            transform: scale(0.85) rotate(270deg);
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    /* transform: translateY(0px) rotate(45deg); */
    -webkit-transform: translateY(0px) scale(0.75) rotate(45deg);
            transform: translateY(0px) scale(0.75) rotate(45deg);
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    /* transform: translateY(-3px) rotate(-45deg); */
    -webkit-transform: translateY(-3px) scale(0.75) rotate(-45deg);
            transform: translateY(-3px) scale(0.75) rotate(-45deg);
  }
  /* HERO SECTION */
  #hero-info h1 {
    font-size: 150px;
    margin-bottom: -20px;
  }
  /* CHOICE SECTION */
  #choice-section {
    height: 100%;
  }
  .choice {
    width: 30%;
    margin-bottom: 40px;
  }
  /* BOOKING SECTION */
  #booking-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #calendar-section p {
    margin-bottom: 35px;
  }
  /* Scroll up button */
  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}

@media (max-width: 768px) {
  #hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #choice-section {
    height: 100%;
  }
  #choice-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .choice {
    width: 50%;
    margin-bottom: 50px;
  }
  #hero-info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    left: 0;
    top: 0;
  }
  /* Scroll up button */
  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
}

@media (max-width: 575px) {
  .choice {
    width: 65%;
  }
  #calendar {
    width: 100%;
    height: 100%;
  }
  .slide .content {
    width: 400px;
    left: -400px;
  }
  .slide.current .content {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}
/*# sourceMappingURL=main.css.map */