/* VARIABLES */
@-webkit-keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@-webkit-keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.navbar {
  width: 100%;
  height: 80px;
  font-size: 18px;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar__container {
  margin: 15px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  opacity: 0;
  width: 70px;
  height: 70px;
}

.navbar__logo.is-visible {
  -webkit-animation: pop .3s linear .3s forwards;
          animation: pop .3s linear .3s forwards;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 50px;
  opacity: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.5s 0.5s ease-out;
  transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.5s 0.5s ease-out, -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.navbar ul.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar ul a {
  text-align: center;
  padding: 0 30px;
  text-decoration: none;
  color: #FFF;
}

.navbar ul a:hover {
  color: #FD7400;
}

.navbar__toggler {
  display: none;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.hero {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(21%, #1f4856), color-stop(22%, rgba(31, 72, 86, 0.541)), color-stop(23%, rgba(31, 72, 86, 0.453)), color-stop(24%, rgba(31, 72, 86, 0.372)), color-stop(25%, rgba(31, 72, 86, 0.299)), color-stop(26%, rgba(31, 72, 86, 0.24)), color-stop(27%, rgba(31, 72, 86, 0.19)), color-stop(28%, rgba(31, 72, 86, 0.13)), color-stop(29%, rgba(31, 72, 86, 0.072)), color-stop(30%, rgba(31, 72, 86, 0.032)), color-stop(31%, rgba(31, 72, 86, 0.002)), color-stop(32%, rgba(31, 72, 86, 0)));
  background: linear-gradient(90deg, #1f4856 21%, rgba(31, 72, 86, 0.541) 22%, rgba(31, 72, 86, 0.453) 23%, rgba(31, 72, 86, 0.372) 24%, rgba(31, 72, 86, 0.299) 25%, rgba(31, 72, 86, 0.24) 26%, rgba(31, 72, 86, 0.19) 27%, rgba(31, 72, 86, 0.13) 28%, rgba(31, 72, 86, 0.072) 29%, rgba(31, 72, 86, 0.032) 30%, rgba(31, 72, 86, 0.002) 31%, rgba(31, 72, 86, 0) 32%);
}

.hero__bg {
  background: url(/img/hero-big-orange-blue.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: -300px;
  right: -300px;
  -webkit-transition: all 3s .4s ease-in-out;
  transition: all 3s .4s ease-in-out;
  z-index: -1;
}

.hero__bg.is-visible {
  bottom: 0;
  right: 0;
}

.hero__container {
  position: absolute;
  left: 5%;
  top: 22%;
  color: #FFF;
}

.hero__container h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 200px;
  margin-bottom: -30px;
  display: inline-block;
}

.hero__container h1.slide-left {
  opacity: 0;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.hero__container h1.slide-right {
  opacity: 0;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  -webkit-transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out, -webkit-transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.hero__container h1.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero__container p.fade-in {
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 2s .8s ease-out;
  transition: opacity 2s .8s ease-out;
  width: 360px;
}

.hero__container p.fade-in.is-visible {
  opacity: 1;
}

.action {
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0 0 10px;
}

.action__hr {
  width: 3px;
  background-color: #FD7400;
  height: 50px;
  border: none;
  opacity: 0;
  -webkit-transition: opacity .2s 1.8s linear;
  transition: opacity .2s 1.8s linear;
}

.action__hr.is-visible {
  opacity: 1;
}

.action__para-container {
  min-height: 50px;
  width: 0;
  background-color: #FFF;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__para-container.is-visible {
  -webkit-animation: show-and-widen .4s linear 1.5s forwards;
          animation: show-and-widen .4s linear 1.5s forwards;
}

.action__para {
  padding-left: 20px;
  color: #000;
  visibility: hidden;
}

.action__para.is-visible {
  -webkit-animation: show-and-widen .4s linear 2s forwards;
          animation: show-and-widen .4s linear 2s forwards;
}

.action__btn.bounce-in {
  width: 50px;
  height: 50px;
  background-color: #FD7400;
  color: #FFF;
  opacity: 0;
  -webkit-transition: opacity .5s .9s ease-out, color 1s ease-in-out;
  transition: opacity .5s .9s ease-out, color 1s ease-in-out;
}

.action__btn.bounce-in:hover {
  background-color: #FFF;
  color: #FD7400;
}

.action__btn.bounce-in i {
  font-size: 25px;
  margin: 25% 0 0 40%;
}

.action__btn.bounce-in.is-visible {
  -webkit-animation: pop .5s linear 1s forwards, sliding-left 1s ease-out 1.4s forwards;
          animation: pop .5s linear 1s forwards, sliding-left 1s ease-out 1.4s forwards;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.gallery {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1F4857;
  position: relative;
}

.jumbotrons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.jumbotrons__div {
  color: #FFF;
  width: 25%;
  min-height: 30vh;
}

.jumbotrons .gallery-number {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

.jumbotrons hr {
  margin: 20px 0;
}

.slider-btns button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.slider-btns button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.slider-btns button {
  border: 2px solid #FFF;
  background: transparent;
  color: #FFF;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.slider-btns button:hover {
  background-color: #FFF;
  color: #1F4857;
}

.slides-container {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100vw;
  height: 380px;
}

.slides-container img {
  width: 280px;
  height: 280px;
}

.slide {
  top: 12%;
  position: absolute;
  -webkit-transition: left .5s, -webkit-transform .5s;
  transition: left .5s, -webkit-transform .5s;
  transition: transform .5s, left .5s;
  transition: transform .5s, left .5s, -webkit-transform .5s;
}

.slide__hr {
  opacity: 0;
}

.center {
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.3);
          transform: translateX(-50%) scale(1.3);
}

.center hr {
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  opacity: 1;
  background-color: #FD7400;
  height: 5px;
  border: none;
  margin-top: -5px;
}

.left {
  left: 23.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.left-left {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.left-left-left {
  left: -40%;
}

.backdoor {
  left: -60%;
  display: none;
}

.right {
  left: 76.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.right-right {
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.right-right-right {
  left: 120%;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.choices {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  background-color: #0B1622;
}

.choices__info {
  width: 100%;
  height: 55%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.choices__info hr {
  position: absolute;
  top: 50px;
  right: 0;
}

.choices__info h2 {
  text-align: end;
  color: #FFF;
  font-size: 35px;
  position: absolute;
  top: 80px;
  right: 0;
}

.choices__info p {
  font-size: 17px;
  padding-top: 20px;
  line-height: 1.5;
  width: 60%;
  text-align: justify;
  position: absolute;
  top: 230px;
  right: 210px;
}

.choices__btn {
  background-color: transparent;
  border: 1px solid #FD7400;
  color: #FFF;
  outline: none;
  padding: 20px;
  width: 180px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
  top: 245px;
  right: 0;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.choices__btn:hover {
  background-color: #FD7400;
}

/* CHOICE CARDS */
.choice-container {
  width: 60%;
  height: 60%;
  background-color: #43849c;
  position: relative;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice-container__left {
  background-color: #43849c;
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 2;
}

.choice-container__hr {
  width: 4px;
  background-color: #FD7400;
  border: none;
  height: 90%;
  position: absolute;
  top: 5%;
  left: -2px;
  z-index: 2;
}

.choice-container__right {
  position: relative;
  width: 50%;
}

.choice-container__text {
  width: 100%;
  height: 90%;
  margin-top: 23px;
  text-align: end;
  padding: 50px 30px 0 0;
  /* border: 2px solid red; */
}

.choice-container__text h3 {
  padding-top: 50px;
}

.choice-container__text h2 {
  font-size: 30px;
}

/* DIFFICULTY LEVELS */
.levels {
  position: relative;
  width: 670px;
  height: 90%;
  margin-top: 23px;
}

.levels-container {
  position: absolute;
  width: 600px;
  height: 99%;
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
  opacity: 0;
  -webkit-transition: opacity .1s .5s ease-out, -webkit-transform 2s;
  transition: opacity .1s .5s ease-out, -webkit-transform 2s;
  transition: transform 2s, opacity .1s .5s ease-out;
  transition: transform 2s, opacity .1s .5s ease-out, -webkit-transform 2s;
  z-index: 1;
}

.levels-container.slider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.levels-card {
  height: 100%;
  padding-left: 30px;
  position: relative;
  z-index: 2;
}

.levels-card__text {
  height: 100%;
  padding-top: 55px;
}

.levels-card__text h3 {
  padding-top: 50px;
}

.levels-card__text h3:first-of-type {
  margin-top: 38px;
}

.levels-card img {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
}

.levels__bg {
  background-color: #1F4857;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.levels__btns {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

.levels__btns button {
  width: 12px;
  height: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.levels__btns--green:hover {
  background-color: green;
}

.levels__btns--yellow:hover {
  background-color: yellow;
}

.levels__btns--red:hover {
  background-color: red;
}

.levels-flag {
  width: 70px;
  height: 70px;
  background-color: #43849c;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -70px;
  -webkit-transform: translateX(-670px);
          transform: translateX(-670px);
  opacity: 0;
  -webkit-transition: opacity .1s .5s ease-out, -webkit-transform 2s .2s;
  transition: opacity .1s .5s ease-out, -webkit-transform 2s .2s;
  transition: transform 2s .2s, opacity .1s .5s ease-out;
  transition: transform 2s .2s, opacity .1s .5s ease-out, -webkit-transform 2s .2s;
}

.levels-flag.slider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.levels-flag__hr {
  border: none;
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 100%;
}

.levels-flag__hr--1 {
  background-color: green;
}

.levels-flag__hr--2 {
  background-color: yellow;
}

.levels-flag__hr--3 {
  background-color: red;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1F4857;
}

.map-container {
  position: absolute;
  height: 75%;
  width: 70%;
  top: 12.5%;
  right: 0;
}

.map-start {
  cursor: pointer;
  height: 75%;
  width: 70%;
  background-color: #FD7400;
  border: none;
  outline: none;
  color: #FD7400;
  font-size: 25px;
  position: absolute;
  bottom: 12.5%;
  left: 30%;
  z-index: 3;
  -webkit-transition: all 1.5s, color .2s 1.3s;
  transition: all 1.5s, color .2s 1.3s;
}

.map-start.is-visible {
  width: 70px;
  height: 70px;
  bottom: calc(12.5% - 35px);
  left: calc(30% - 35px);
  color: #FFF;
}

.infowindow {
  width: 25%;
  height: 30%;
  background-color: #1F4857;
  position: relative;
  top: 30%;
  left: 0;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.infowindow__heading {
  font-size: 40px;
  margin: 30px 0 10px 0;
}

.infowindow__sights {
  position: relative;
  padding-right: 30px;
}

.infowindow__link {
  font-size: 16px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.infowindow__link:hover {
  color: #FD7400;
}

.infowindow__image {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border: solid 2px #FD7400;
}

.infowindow__distance-span {
  color: #FD7400;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.footer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #43849c;
}

.footer__container--top {
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  /* border: $accent-color solid 1px; */
}

.footer__brands {
  width: 40%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  z-index: 2;
}

.footer__brands img {
  width: 110px;
}

.footer__stats {
  /* border: 1px solid $accent-color; */
  font-size: 25px;
  margin-left: 20%;
  width: 50%;
  position: relative;
}

.footer__stats h2 {
  font-size: 40px;
  text-align: end;
}

.footer__counters {
  width: 100%;
  height: 100px;
  color: #1F4857;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
}

.footer__counters h5 {
  color: #FFF;
  font-size: 20px;
  margin-bottom: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.footer__counters h5 span {
  color: #1F4857;
}

.footer__counters--counter {
  /* border: $text-color 1px solid; */
  width: 25%;
  display: inline-block;
}

.footer__counters--counter p {
  font-size: 16px;
  color: #FFF;
}

.footer__counters--counter span {
  margin-left: -5px;
}

.footer__container--bottom {
  width: 100vw;
  height: 250px;
  position: absolute;
  bottom: 8%;
  left: 0;
  background-color: #43849c;
  z-index: 1;
}

.footer__container--bottom:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  background: url(../img/mountains-blue.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__heading--bottom {
  position: absolute;
  top: 102px;
  left: 10%;
  font-size: 25px;
}

.footer__heading--bottom hr {
  position: absolute;
  left: 0;
  top: -20px;
}

.footer__media {
  position: absolute;
  right: 10%;
  top: 110px;
}

.footer__media a {
  font-size: 30px;
  color: #FFF;
  padding-left: 50px;
}

.footer__nav {
  position: absolute;
  right: 10%;
  top: 165px;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer__nav ul li a {
  text-decoration: none;
  color: #FD7400;
  padding-left: 50px;
  font-size: 18px;
}

.footer__hr {
  width: 90%;
  border: none;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  bottom: 8%;
  left: 5%;
  z-index: 2;
}

.numbers {
  font-size: 35px;
}

.numbers:first-child {
  display: inline-block;
}

.copyrights {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8%;
  width: 100%;
  background-color: #1F4857;
  text-align: center;
  padding-top: 15px;
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

.back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 50%;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  z-index: 5;
}

.back-to-top-btn i {
  font-size: 24px;
  margin: 20% 0 0 33%;
}

.back-to-top-btn:hover, .back-to-top-btn:focus {
  background-color: #FFF;
  color: #1F4857;
}

.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

/* VARIABLES */
@keyframes pop {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-left {
  50% {
    margin-left: 280px;
  }
  100% {
    margin-left: 280px;
  }
}

@keyframes show-and-widen {
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    width: 277px;
    margin-right: -277px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #1F4857;
  color: #FFF;
}

.section-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* border: 2px solid red; */
}

.short-hr {
  border: none;
  height: 2px;
  width: 50px;
  background-color: #FD7400;
}

.side-heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 14px;
}

.side-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: end;
}

.top-heading span {
  font-size: 12px;
  color: #FD7400;
}

.top-heading__hr {
  background-color: #fff;
  height: 2px;
  border: none;
  width: 300px;
  margin-bottom: 5px;
}

@media (max-width: 1499px) {
  .map-container {
    zoom: .95;
  }
}

@media (max-width: 1399px) {
  .levels-container {
    width: 550px;
    -webkit-transform: translateX(-550px);
            transform: translateX(-550px);
  }
  .map-container {
    zoom: .85;
  }
}

@media (max-width: 1199px) {
  .slides-container img {
    width: 250px;
    height: 250px;
  }
  .choices__info h2 {
    top: 130px;
    font-size: 28px;
  }
  .choices__info hr {
    top: 110px;
  }
  .choice-container {
    width: 65%;
    top: 80px;
  }
  .levels-container {
    width: 450px;
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
  }
  .levels-card img {
    width: 120px;
    height: 120px;
  }
  .infowindow {
    top: 12.5%;
  }
  .map-container {
    zoom: 0.78;
  }
  .footer__stats h2 {
    font-size: 32px;
  }
  .footer__counters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    bottom: -30px;
  }
  .footer__counters--counter {
    width: 100%;
  }
  .footer__counters--counter h3, .footer__counters--counter p {
    display: inline;
  }
  .footer__counters--counter p {
    position: absolute;
    left: 70px;
    padding-top: 15px;
    white-space: nowrap;
  }
  h5 {
    margin-top: -10px;
  }
}

@media (max-width: 991px) {
  .slides-container {
    bottom: -30px;
  }
  .slides-container img {
    width: 220px;
    height: 220px;
  }
  .choices__info {
    height: 30%;
  }
  .choices__info p {
    right: 0;
    top: 20px;
    text-align: right;
    font-size: 16px;
  }
  .choices__info h2 {
    text-align: left;
    top: 50px;
    left: 0;
    font-size: 22px;
  }
  .choices__info hr {
    top: 40px;
    left: 0;
  }
  .choices__btn {
    top: 130px;
    left: 0;
    width: 120px;
    font-size: 16px;
    padding: 10px;
  }
  .choice-container {
    width: 75%;
  }
  .levels-container {
    width: 450px;
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
  }
  .levels-card img {
    width: 110px;
    height: 110px;
    top: 17%;
    right: 20px;
  }
  .levels-flag {
    width: 30px;
    height: 60px;
    right: -30px;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  .navbar {
    padding: 0;
    height: 120px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #1f4856), color-stop(82%, rgba(31, 72, 86, 0.541)), color-stop(84%, rgba(31, 72, 86, 0.453)), color-stop(86%, rgba(31, 72, 86, 0.372)), color-stop(88%, rgba(31, 72, 86, 0.299)), color-stop(90%, rgba(31, 72, 86, 0.24)), color-stop(92%, rgba(31, 72, 86, 0.19)), color-stop(94%, rgba(31, 72, 86, 0.13)), color-stop(96%, rgba(31, 72, 86, 0.072)), color-stop(98%, rgba(31, 72, 86, 0.032)), color-stop(99%, rgba(31, 72, 86, 0.002)), to(rgba(31, 72, 86, 0)));
    background: linear-gradient(180deg, #1f4856 65%, rgba(31, 72, 86, 0.541) 82%, rgba(31, 72, 86, 0.453) 84%, rgba(31, 72, 86, 0.372) 86%, rgba(31, 72, 86, 0.299) 88%, rgba(31, 72, 86, 0.24) 90%, rgba(31, 72, 86, 0.19) 92%, rgba(31, 72, 86, 0.13) 94%, rgba(31, 72, 86, 0.072) 96%, rgba(31, 72, 86, 0.032) 98%, rgba(31, 72, 86, 0.002) 99%, rgba(31, 72, 86, 0) 100%);
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: #1f4857;
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    height: 60px;
    text-align: center;
  }
  .navbar ul li a {
    display: block;
    height: 100%;
    padding: 20px;
  }
  .navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  .navbar__toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #FFF;
    border: 3px solid #FFF;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar__toggler span,
  .navbar .navbar__toggler span::before,
  .navbar .navbar__toggler span::after {
    display: block;
    content: '';
    background-color: #FFF;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar__toggler span::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .navbar .navbar__toggler span::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .navbar .navbar__toggler.navbar__toggler--open span {
    background-color: transparent;
    -webkit-transform: scale(0.85) rotate(270deg);
            transform: scale(0.85) rotate(270deg);
  }
  .navbar .navbar__toggler.navbar__toggler--open span::before {
    -webkit-transform: translateY(0px) scale(0.75) rotate(45deg);
            transform: translateY(0px) scale(0.75) rotate(45deg);
  }
  .navbar .navbar__toggler.navbar__toggler--open span::after {
    -webkit-transform: translateY(-3px) scale(0.75) rotate(-45deg);
            transform: translateY(-3px) scale(0.75) rotate(-45deg);
  }
  .back-to-top-btn {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
  .back-to-top-btn i {
    font-size: 22px;
    margin: 15% 0 0 30%;
  }
  .map-container {
    height: 60%;
    width: 100%;
    zoom: .8;
  }
  .map-start {
    height: 60%;
    width: 100%;
    font-size: 25px;
    bottom: 27.5%;
    left: 0;
  }
  .map-start.is-visible {
    width: 60px;
    height: 60px;
    bottom: calc(27.5% - 30px);
    left: -30px;
  }
  .infowindow {
    top: 75%;
    left: 10%;
  }
  .infowindow__heading {
    font-size: 35px;
    margin-top: 15px;
  }
  .infowindow__image {
    position: absolute;
    top: -5%;
    left: 120%;
    height: 120px;
    width: 160px;
  }
  .infowindow__distance-span {
    margin-right: 3px;
  }
  .infowindow p {
    position: absolute;
    left: 120%;
    bottom: 35%;
    white-space: nowrap;
    font-size: 14px;
  }
  .footer__stats h2 {
    font-size: 28px;
  }
  .footer__brands img {
    width: 90px;
  }
  .footer__media a {
    padding-left: 30px;
  }
  .footer__nav ul li a {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .side-heading {
    left: -10px;
  }
  .jumbotrons {
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
  }
  .jumbotrons .gallery-number {
    font-size: 60px;
    padding-bottom: 0;
  }
  .jumbotrons hr {
    margin: 10px 0;
  }
  .left {
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .right {
    left: calc(100% - 110px);
  }
  .choices__info p {
    font-size: 14px;
  }
  .levels-container {
    width: 350px;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  .levels-card img {
    width: 100px;
    height: 100px;
  }
  .back-to-top-btn {
    font-size: 10px;
    width: 32px;
    height: 32px;
    bottom: 10px;
    right: 10px;
  }
  .back-to-top-btn i {
    font-size: 18px;
    margin: 20% 0 0 30%;
  }
  .map-container {
    zoom: .7;
  }
  .infowindow__heading {
    font-size: 30px;
    margin: 30px 0 10px 0;
    white-space: nowrap;
  }
  .infowindow__sights {
    font-size: 16px;
  }
  .infowindow__link {
    top: -80px;
  }
  .footer__stats h3 {
    font-size: 30px;
  }
  .footer p {
    left: 60px;
    padding-top: 12px;
  }
  .footer__media a {
    padding-left: 12px;
  }
  .footer__nav ul li a {
    padding-left: 10px;
  }
  .footer__container--bottom h2 {
    font-size: 30px;
  }
  .footer__heading--bottom {
    top: 118px;
  }
}

@media (max-width: 575px) {
  .hero h1 {
    font-size: 180px;
  }
  .slider-btns button {
    padding: 11px 13px;
  }
  .jumbotrons {
    width: 80%;
  }
  .jumbotrons .gallery-number {
    font-size: 50px;
  }
  .jumbotrons h4 {
    font-size: 15px;
  }
  .jumbotrons p {
    font-size: 14px;
  }
  .slide {
    display: none;
  }
  .left {
    display: block;
    left: 0;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  .right {
    display: block;
    left: 105%;
  }
  .center {
    display: block;
  }
  .levels-container {
    width: 250px;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  .levels-card__text h3:first-of-type {
    margin-top: 26px;
  }
  .levels-card img {
    width: 70px;
    height: 70px;
  }
  .choice-container h2 {
    font-size: 25px;
  }
  .map-container {
    zoom: .45;
  }
  .map-start.is-visible {
    width: 50px;
    height: 50px;
    bottom: calc(27.5% - 25px);
    left: -25px;
  }
  .infowindow__heading {
    font-size: 25px;
  }
  .infowindow__sights {
    font-size: 14px;
  }
  .infowindow__image {
    left: 150%;
  }
  .infowindow p {
    left: 150%;
  }
  .footer__container--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__brands {
    width: 100%;
    height: 60%;
    margin-top: -20px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .footer__brands img {
    width: 75px;
  }
  .footer__brands--shimano {
    display: none;
  }
  .footer__stats {
    width: 100%;
    margin-left: 0;
  }
  .footer__stats h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
  }
  .footer__counters {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    bottom: -120px;
  }
  .footer__counters--counter {
    width: 100%;
  }
  .footer__counters--counter p {
    display: block;
    position: relative;
    white-space: normal;
    left: 0;
  }
  .footer h5 {
    margin-left: -20px;
  }
  .footer h5 span {
    margin-left: -20px;
  }
  .footer__heading--bottom {
    top: 80px;
  }
  .footer__media {
    top: 150px;
  }
  .footer__nav {
    top: 205px;
  }
}
/*# sourceMappingURL=main.css.map */