/* VARIABLES */

$primary-color: #1F4857;
$secondary-color-light: #43849c;
$secondary-color-dark: #0B1622;
$accent-color: #FD7400;
$text-color: #FFF;
// gory #194656
// jasny nad gorami #2D677C
// tło mapy #1F4857
// ciemne tło choice #0B1622
// karta wyboru #224E5E
// jasne tło karty wyboru #0E7EA7
// tło galerii i hero #1F4857
// pomarancz #FD7400

@keyframes pop{
    0% {opacity: 1;}
    20%  {transform: scale(1.2);}
    100% {opacity: 1;}
  }

@keyframes sliding-left{
    50% {margin-left: 280px;}
    100% {margin-left: 280px;}
}

@keyframes show-and-widen {
    50% {visibility: visible;
    }
    // 25% {width: 70px;
    // margin-right: -70px;}
    // 50% {width: 140px;
    //     margin-right: -140px;}
    // 75% {width: 210px;
    //     margin-right: -210px;}
   
    100% {visibility: visible;
        width: 277px;
        margin-right: -277px;
    }
}

// @function rem($px){
//     @return ($px/16) * 1rem;
// }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    overflow: hidden;   // TO FULLPAGE SCROLL
    background-color: $primary-color;
    color: $text-color;
}

.section-container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    /* border: 2px solid red; */
}

.short-hr{
    border: none;
    height: 2px;
    width: 50px;
    background-color: $accent-color;
}

.side-heading{
    transform: rotate(-90deg);
    position: absolute; // do section-container
    left: 0;
    top: 100px;
    font-size: 14px;

    span{
        font-size: 12px;
        color: $accent-color;
    }
}

.top-heading{
    position: absolute;
    top: 30px;
    right: 0;
    text-align: end;

    span{
        font-size: 12px;
        color: $accent-color;
    }

    &__hr{
        background-color: #fff;
        height: 2px;
        border: none;
        width: 300px;
        margin-bottom: 5px;
    }
}