$primary-color: #1F4857;
$secondary-color-light: #43849C;
$secondary-color-dark: #0B1622;
$accent-color: #FD7400;
$text-color: #FFF;


@keyframes pop{
    0% {opacity: 1;}
    20%  {transform: scale(1.2);}
    100% {opacity: 1;}
  }

@keyframes sliding-left{
    50% {margin-left: 280px;}
    100% {margin-left: 280px;}
}

@keyframes show-and-widen {
    50% {visibility: visible;
    }
   
    100% {visibility: visible;
        width: 277px;
        margin-right: -277px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lato', sans-serif;
    overflow: hidden;   // for fullpage scroll
    background-color: $primary-color;
    color: $text-color;
}


.section-container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.short-hr{
    border: none;
    height: 2px;
    width: 50px;
    background-color: $accent-color;
}

.side-heading{
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 100px;
    font-size: 14px;
    width: 100px;

    span{
        font-size: 12px;
        color: $accent-color;
    }
}

.top-heading{
    position: absolute;
    top: 5vh;
    right: 0;
    text-align: end;

    span{
        font-size: 12px;
        color: $accent-color;
    }

    &__hr{
        background-color: $text-color;
        height: 2px;
        border: none;
        width: 300px;
        margin-bottom: 5px;
    }
}

button, a{
    -webkit-tap-highlight-color: transparent;
}