@import 'base';

.choices{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    // border: $text-color 2px solid;
    background-color: $secondary-color-dark;

    &__info{
        // position: relative;
        width: 100%;
        height: 40%;
        position: absolute;
        // top: 0;
        bottom: 20px;
        // left: 0;
        border: 2px solid red;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;

        hr{
            // margin-left: 800px;
            // position: absolute;
            // // position: relative;
            // top: 0;
            // right: 0;
        }

        h2{
            text-align: end;
            color: $text-color;
            font-size: 35px;
            // position: absolute;
            // top: 5%;
            // right: 0;
        }

        p{
            font-size: 18px;
            // padding-top: 20px;
            line-height: 1.5;
            width: 50%;
            // height: 60%;
            text-align: justify;
            position: absolute;
            // top: 0;
            bottom: 5%;
            left: 0;
        }
    }
     
    &__btn{
        background-color: transparent;
        border: 1px solid $accent-color;
        color: $text-color;
        outline: none;
        width: 15%;
        min-width: 80px;
        height: 25%;
        font-size: 20px;
        // margin-top: 10px;
        cursor: pointer;
        // position: absolute;
        // top: 65%;
        // right: 0;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;

        &:hover{
            background-color: $accent-color;
        }
    }
}

/* CHOICE CARDS */

.choice-container{
    // width: 750px;
    // height: 450px;
    width: 60%;
    height: 60%;
    background-color: $secondary-color-light;
    position: relative;
    top: 10%;
    display: flex;
    // border: solid 1px wheat;

    &__left{
        background-color: $secondary-color-light;
        height: 100%;
        width: 50%;
        position: relative;
        // border: solid 1px wheat;
        z-index: 2;
    }

    &__hr{
        width: 4px;
        background-color: $accent-color;
        border: none;
        height: 90%;
        position: absolute;
        top: 5%;
        left: -2px;
        z-index: 2;
    }

    &__right{
        position: relative;
        height: 100%;
        width: 50%;
        // border: solid 1px yellow;
    }

    &__text{
        width: 100%;
        height: 66%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
        // margin-top: 23px;
        position: relative;
        top: 17%;
        text-align: end;
        padding-right: 5%;
        // padding: 15% 8% 0 0;
        // border: 1px solid red;

        h2{
            // position: relative;
            // top: 10vh;
            // font-size: 30px;
        }

        h3{
            // position: relative;
            // top: 20vh;
            // padding-top: 50px;
        }
    }
}

/* DIFFICULTY LEVELS */

.levels{
    position: absolute;
    width: 60%;
    height: 90%;
    top: 5%;
    // border: solid 1px wheat;

    &-container{
        position: absolute;
        // width: 600px;
        width: 40vw;
        height: 98%;
        top: 1%;
        // transform: translateX(-600px);
        transform: translateX(-40vw);
        opacity: 0;
        transition: transform 2s, opacity .1s .5s ease-out;
        z-index: 1;

        &.slider{
            transform: translateX(0);
            opacity: 1;
        }
    }

    &-card{
        height: 100%;
        // padding-left: 30px;
        position: relative;
        z-index: 2;
        // border: 1px solid red;
    
        &__text{
            height: 75%;
            // width: 50%;
            padding-left: 5%;
            position: relative;
            top: 12.5%;
            // padding-top: 55px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // border: 1px solid green;

            h2{
                // font-size: 30px;
                // position: relative;
                // top: calc(10vh - 6%);
                // padding-top: 7vh;
            }
        
            h3{
                // padding-top: 10vh;
                // position: relative;
                

                &:first-of-type{
                    // top: calc(20vh - 6%);
                }
            }
        }
    
        img{
            width: 180px;
            height: 180px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
        }
    }

    &__bg{
        background-color: $primary-color;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__btns{
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 5;

        button{
            width: 12px;
            height: 12px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: background-color .3s;
        }

        &--green:hover{
            background-color: green;
        }
        &--yellow:hover{
            background-color: yellow;
        }
        &--red:hover{
            background-color: red;
        }
    }

    &-flag{
        width: 70px;
        height: 70px;
        background-color: $secondary-color-light;
        position: absolute;
        z-index: -1;
        top: 0;
        right: -70px;
        transform: translateX(-40vw);
        opacity: 0;
        transition: transform 2s .2s, opacity .1s .5s ease-out;
    
        &.slider{
            transform: translateX(0);
            opacity: 1;
        }
    
        &__hr{
            border: none;
            position: absolute;
            top: 0;
            right: -4px ;
            width: 4px;
            height: 100%;

            &--1{
                background-color: green;
            }

            &--2{
                background-color: yellow;
            }

            &--3{
                background-color: red;
            }
        }
    }
}