@import 'base';

.choices{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    background-color: $secondary-color-dark;

    &__info{
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 20px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;

        h2{
            text-align: end;
            color: $text-color;
            font-size: 35px;
        }

        p{
            font-size: 18px;
            line-height: 1.5;
            width: 50%;
            text-align: justify;
            position: absolute;
            bottom: 5%;
            left: 0;
        }
    }
     
    &__btn{
        background-color: $accent-color;
        // border: 2px solid $accent-color;
        border: none;
        color: $text-color;
        outline: none;
        width: 15%;
        min-width: 150px;
        height: 25%;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        cursor: pointer;
        transition: background-color, color .2s ease-in-out;

        &:hover{
            background-color: $text-color;
            color: $accent-color;
        }
    }
}

/* CHOICE CARDS */

.choice-container{
    width: 60%;
    height: 60%;
    background-color: $secondary-color-light;
    position: relative;
    top: 10%;
    display: flex;

    &__left{
        background-color: $secondary-color-light;
        height: 100%;
        width: 50%;
        position: relative;
        z-index: 2;
    }

    &__hr{
        width: 4px;
        background-color: $accent-color;
        border: none;
        height: 90%;
        position: absolute;
        top: 5%;
        left: -2px;
        z-index: 2;
    }

    &__right{
        position: relative;
        height: 100%;
        width: 50%;
    }

    &__text{
        width: 100%;
        height: 66%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
        position: relative;
        top: 17%;
        text-align: end;
        padding-right: 5%;
    }
}

/* DIFFICULTY LEVELS */

.levels{
    position: absolute;
    width: 60%;
    height: 90%;
    top: 5%;

    &-container{
        position: absolute;
        width: 40vw;
        height: 98%;
        top: 1%;
        transform: translateX(-40vw);
        opacity: 0;
        transition: transform 2s, opacity .1s .5s ease-out;
        z-index: 1;

        &.slider{
            transform: translateX(0);
            opacity: 1;
        }
    }

    &-card{
        height: 100%;
        position: relative;
        z-index: 2;
    
        &__text{
            height: 75%;
            padding-left: 5%;
            position: relative;
            top: 12.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        img{
            width: 180px;
            height: 180px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
        }
    }

    &__bg{
        background-color: $primary-color;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__btns{
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 5;

        button{
            width: 14px;
            height: 14px;
            padding: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: background-color .3s;
        }

        &--green:hover{
            background-color: green;
        }
        &--yellow:hover{
            background-color: yellow;
        }
        &--red:hover{
            background-color: red;
        }
    }

    &-flag{
        width: 70px;
        height: 70px;
        background-color: $secondary-color-light;
        position: absolute;
        z-index: -1;
        top: 0;
        right: -70px;
        transform: translateX(-40vw);
        opacity: 0;
        transition: transform 2s .2s, opacity .1s .5s ease-out;
    
        &.slider{
            transform: translateX(0);
            opacity: 1;
        }
    
        &__hr{
            border: none;
            position: absolute;
            top: 0;
            right: -4px ;
            width: 4px;
            height: 100%;

            &--1{
                background-color: green;
            }

            &--2{
                background-color: yellow;
            }

            &--3{
                background-color: red;
            }
        }
    }
}