@import 'base';

#footer{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #2D677C;
}

#footer-hr {
    width: 90%;
    border: none;
    height: 1px;
    background-color: #fff;
    /* margin: 0 auto; */
    position: absolute;
    bottom: 8%;
    left: 5%;
    z-index: 2;
  }

  /* #194656 to kolor tła - gór - do sprawdzenia */
#copyrights{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #194656;
    text-align: center;
    padding-top: 15px;
}

#footer-top-container{
    width: 100%;
    height: 55%;
    display: flex;
    padding-top: 80px;
    
    /* border: #fd7400 solid 1px; */
}

/* #footer-top-container h2{
    font-size: 40px;
    text-align: end;
} */

#footer-top-heading{
    /* border: 1px solid #fd7400; */
    font-size: 25px;
    margin-left: 20%;
    width: 50%;
    position: relative;
    /* text-align: left; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

#footer-top-heading h2{
    font-size: 40px;
    text-align: end;
}

#footer-counter{
    width: 100%;
    height: 100px;
    /* background: #000; */
    color: #194656;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 2;
}

#footer-counter h2{
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;
    transform: translateY(50%);
    /* margin-left: 10px; */
}

#footer-counter h2 span{
    /* font-size: 60px; */
    color: #194656;
}

.counter-container{
    /* border: #fff 1px solid; */
    width: 25%;
    display: inline-block;
}

#number-one{
    display: inline-block;
}

.counter-container p{
    font-size: 16px;
    color: #fff;
}

.numbers{
    font-size: 35px;
}

#counter-text{
    margin-left: -5px;
}

#footer-brands{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: left;
    z-index: 2;

    // border: 1px solid #fff;
}


#footer-brands img{
    width: 110px;
}

#footer-bottom-container{
    width: 100vw;
    height: 250px;
    position: absolute;
    bottom: 8%;
    left: 0;
    background-color: #2D677C;
    z-index: 1;
    /* border: #fd7400 1px solid; */
    /* display: flex;
    justify-content: space-evenly; */
    /* align-items: center; */
}

#footer-bottom-container:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 300px;
    background: url(../img/mountains-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#footer-bottom-heading hr{
    position: absolute;
    left: 0;
    top: -20px;
    /* margin: 5% 0 0 10%; */
    /* z-index: 1; */
}

#footer-bottom-heading{
    position: absolute;
    top: 100px;
    left: 10%;
    /* text-transform: uppercase; */
    font-size: 25px;
}

#footer-media{
    position: absolute;
    right: 10%;
    top: 110px;  
}

#footer-media a{
    font-size: 30px;
    color: #fff;
    padding-left: 50px;
}

#footer-nav{
    position: absolute;
    right: 10%;
    top: 165px;
}

#footer-nav ul{
    display: flex;
    list-style-type: none;
}

#footer-nav ul li a{
    text-decoration: none;
    color: #fd7400;
    padding-left: 50px;
    font-size: 18px;
}