.gallery{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $primary-color;
    position: relative;
}

.jumbotrons{
    width: 90%;
    margin: 0 auto;
    height: 45%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10vh;

    &__div{
        color: $text-color;
        width: 25%;
    }

    .gallery-number{
        font-size: 12vh;
        color: rgba(255, 255, 255, .1);
    }

    hr{
        margin: 7% 0;
    }   
}

// IMAGES

.slides-container{
    position: relative;
    bottom: 55%;
    width: 100vw;
    height: 50%;

    img{
        width: 280px;
        height: 280px;
    }
}

.slide{
    top: 12%;
    position: absolute;
    transition: transform .5s, left .5s;

    &__hr{
        opacity: 0;
    }
}

.center{
    z-index: 10;
    left: 50%;
    transform: translateX(-50%) scale(1.3);

    hr{
        transition: opacity .3s;
        opacity: 1;
        background-color: $accent-color;
        height: 5px;
        border: none;
        margin-top: -5px;
    }
}

.left{
    left: 23.5%;
    transform: translateX(-50%);
    z-index: 5;
}

.left-left{
    left: 0;
    transform: translateX(-50%);
    z-index: 3;
}

.left-left-left{
    left: -40%;
}

.backdoor{
    left: -60%;
    display: none;
}

.right{
    left: 76.5%;
    transform: translateX(-50%);
    z-index: 5;
}

.right-right{
    left: 100%;
    transform: translateX(-50%);
    z-index: 3;
}

.right-right-right{
    left: 120%;
}

// BUTTONS

.slider-btns{

    button{
        position: absolute;
        top: 40%;
    }
    
    button#next{
        right: 15px;
    }

    button#prev{
        left: 15px;
    }

    button{
        border: 2px solid $text-color;
        background: transparent;
        color: $text-color;
        cursor: pointer;
        padding: 13px 15px;
        border-radius: 50%;
        outline: none;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;

        &:hover {
            background-color: $text-color;
            color: $primary-color;
        }        
    }
}