@import 'base';

.map{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;

    &-container{
        position: absolute;
        height: 75%;
        width: 70%;
        top: 12.5%;
        right: 0;
    }

    &-start{
        cursor: pointer;
        height: 75%;
        width: 70%;
        background-color: $accent-color;
        border: none;
        outline: none;
        color: $accent-color;
        font-size: 25px;
        position: absolute;
        bottom: 12.5%;
        left: 30%;
        z-index: 3;
        transition: all 1.5s, color .2s 1.3s;
    
        &.is-visible{
            width: 70px;
            height: 70px;
            bottom: calc(12.5% - 35px);
            left: calc(30% - 35px);
            color: $text-color;
        }
    }
}

.infowindow{
    width: 25%;
    height: 50%;
    background-color: $primary-color;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // border: 1px solid greenyellow;

    &__heading{
        font-size: 40px;
        // margin: 30px 0 10px 0;
    }

    &__sights{
        // position: relative;
        // padding-right: 30px;
    }

    &__link{
        font-size: 16px;
        color: $text-color;
        position: absolute;
        top: 0;
        right: 0;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;

        &:hover{
            color: $accent-color;
        }
    }

    &__image{
        width: 100%;
        height: auto;
        // margin: 10px 0;
        border: solid 2px $accent-color;
    }

    &__distance-span{
        color: $accent-color;
    }
}
