/* VARIABLES */

/* pomarancz: #fd7400 rgb(253, 116, 0)
fiolet: #a583ce
zieleń tło: #abce83
zieleń header: #60845c
niebieski bieguni: #17c1bc; rgb(23, 193, 188)*/

/* GLOBAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #769e72; */
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/* NAV SECTION */

.navbar{
    font-size: 18px;
    background-image: linear-gradient(0deg, #fd7400 0%, #ffcda3 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    width: 100vw;
}
.main-nav{
    list-style-type: none;
    display: none;
}
.nav-links, .logo {
    text-decoration: none;
    color: #fff;
}

.logo{
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.main-nav li{
    text-align: center;
    margin: 15px auto;
}

.navbar-toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.active{
    display: block;
  }

/* HERO SECTION */

#hero-section{
    height: 100vh;
    width: 100vw;
    background-image: url('img/expeditions/1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hero-info{
    max-width: 400px;
    position: absolute;
    left: 5%;
    top: 35%;
    color: #fff;
    text-align: center;
}

/* #hero-info{
    max-width: 40vw;
    margin: 0 auto;
    padding-top: 32vh;
    text-align: center;
    font-size: 22px;
    color: #fd7400;
} */

#hero-info h1{
    font-family: 'Raleway', sans-serif;
    font-size: 200px;
}

#star{
    cursor: pointer;
}

#star-info{
    color: #fff;
    position: absolute;
    left: 2%;
    bottom: 2%;
    display: none;
}

#star-info.active{
    display: block;
}

#hero-btn{
    margin-top: 15px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;   
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    outline: none;
    transition: all 0.3s;
}

#hero-btn:hover{
    background-color: #fff;
    cursor: pointer;
    color: #fd7400;
    border: 1px solid #fd7400;
}

/* CHOICE SECTION */

#choice-section{
    padding-top: 30px;
    height: 100vh;
    color: #fff;
    background-color: #2d677c;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

#choice-section h2, #choice-section>p{
    margin-left: 7%;
    padding-top: 20px;
}

#choice-section h2{
    font-size: 32px;
}

#choice-section>p{
    max-width: 70%;
}

#choice-section-link{
    text-decoration: none;
    color: #fd7400;
}

#choice-container{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#choice-section-hr{
    margin-top: 20px;
    margin-left: 5%;
    background-color: #fd7400;
    width: 72%;
    height: 2px;
    border: none;
}

/* sprawdzić align items center */
.choice{                                    
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 1s;
}

.choice:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

/* sprawdzić align items center */
.choice img{
    width: 50%;
    height: auto;
    margin-top: 10px;
}

.choice-btn{
    width: 100px;
    height: 40px;
    font-size: 16px;
    /* font-weight: 700;    */
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    outline: none;
    transition: all 0.3s;
}

.choice-btn:hover{
    cursor: pointer;
}

#choice-btn-1:hover{
    color: #00ff00;
    border: 1px solid #00ff00;
}

#choice-btn-2:hover{
    color: #ffff00;
    border: 1px solid #ffff00;
}

#choice-btn-3:hover{
    color: #ff0000;
    border: 1px solid #ff0000;
}



.choice-hr{
    width: 100%;
    height: 5px;
    border: none;
}

#choice-1-hr{
    background-color: #00ff00;
}

#choice-2-hr{
    background-color: #ffff00;
}

#choice-3-hr{
    background-color: #ff0000;
}

/* MAP SECTION */

#map-section{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* #map-header{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    min-width: 300px;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #17c1bc;
    background-color: rgba(23, 193, 188, 0.7);
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
} */

#map{
    height: 100%;
    /* height: 90vh;
    width: 90vw;
    margin: 0 auto;
    border: 2px solid #17c1bc;
    border-radius: 5px; */
}

#start{
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    color: #fff;
    background-color: #2d677c;
    /* text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; */
}

/* #distance{
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    bottom: 10%;
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
    color: #fff;
    background-color: #60845c;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
} */

/* Infowindow */

.gm-style-iw{
	width: 350px !important;
	top: 0px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid #17c1bc;
    border-radius: 2px 2px 10px 10px;
}
#iw-container{
    margin-bottom: 10px;
    position: relative;
}
.iw-title1, .iw-title2{
	font-size: 22px;
    padding: 10px;
	background-color: #fff;
	color: #000;
    margin: 0;
	border-radius: 2px 2px 0 0;
}

.iw-title1{
    padding-bottom: 0px;
    font-weight: 700;
}

.iw-title2{
    padding-top: 0px;
    position: relative;
}

/* IW bottom borderline */
.iw-title2:before{
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 1px;
    width: 70%;
    border-bottom: 1px solid #17c1bc;
    margin-bottom: 10px;
}

#iw-container .iw-content{
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}
.iw-subTitle{
	font-size: 16px;
    font-weight: 700;
    color: #17c1bc;
    padding-bottom: 10px;
}
.iw-bottom-gradient{
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 0;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.link{
    color: #17c1bc;
}

.iw-distance{
    display: inline-block;
    /* margin-left: 10px; */
    color: #17c1bc;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    right: 0;
}

#iw-container p{
    margin-bottom: 10px;
    font-size: 16px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 2;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin: 0 30px;
    }

    .logo {
        margin-top: 0;
        margin-left: 60px;
    }

   .navbar-toggle {
       display: none;
    }

    .logo:hover, .nav-links:hover {
        color: #fd7400;
    }
}